@font-face {
    font-family: "Seg-7";
    src: url( "Segment7Standard.otf" );
}

@font-face {
    font-family: "Muli";
    src: url( "Muli-Bold.ttf" );
}

* {
    font-family: Muli, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.radar_container {
    width: 700px;
    height: 200px;

    /* Temp centre */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 2.50% 95% 2.50%;
}

.panel_side {
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, rgb( 50, 50, 50 ), rgb( 25, 25, 25 ) );
}
    .panel_left {
        clip-path: polygon( 0 30%, 100% 0, 100% 100%, 0 70% );   
    }

    .panel_right {
        clip-path: polygon( 0 0, 100% 30%, 100% 70%, 0 100% );   
    }

.arrow {
    transform: scale(0.50);
    width: 25px;
    height: 35px;
    margin: auto;
    background-color: red;
    clip-path: polygon( 50% 0, 100% 55%, 65% 55%, 65% 100%, 35% 100%, 35% 55%, 0 55% );
}
    .arrow_up {

    }

    .arrow_down {

    }

#radar {
    /* background-color: gray;  */
    background: linear-gradient( to bottom, rgb( 50, 50, 50 ), rgb( 25, 25, 25 ) );

    display: grid;
    grid-template-columns: 45px 50px 150px 45px auto;
}
    #radar .pwr_button_container {
        display: flex;
        flex-direction: column;
    }
        #radar .pwr_button_container .pwr_button {
            width: 45px;
            height: 45px;
            margin: auto;
            background: linear-gradient(to bottom, rgba( 230, 230, 230, 0.8 ), limegreen 10%, rgb(0, 149, 0)  );
            box-shadow: 0px 0px 3px 0px rgb( 80, 80, 80 ) ;
            text-align: center;
            line-height: 45px;
            border-radius: 10px;
        }

    #radar .modes_container {
        display: grid;
        grid-template-rows: 50% 50%;
    }
        #radar .modes_container .modes {
            display: flex;
            flex-direction: column;

            box-sizing: border-box;

            padding: 10px 0;
        }
            #radar .modes_container .modes p {
                margin: auto;
            }
    
    #radar .speeds_container {
        display: flex;
        flex-direction: column;
    }
        #radar .speeds_container .display {
            display: grid;
            grid-template-columns: 1fr;

            height: 70px;

            box-sizing: border-box;

            border: 3px solid black;
            
            margin: auto 0;
            background-color: rgb(61, 18, 0);
        }   
            #radar .speeds_container .display p {
                grid-row-start: 1;
                grid-column-start: 1;

                font-family: 'Seg-7';
                font-size: 70px;
                text-align: center;

                line-height: 108%;

                margin: 0 auto;
                letter-spacing: 10px;

                margin-right: -6px;
            }

            #radar .speeds_container .display .ghost {
                color: rgb(90, 35, 1);
            }

            #radar .speeds_container .display .speed {
                color: rgb(252, 113, 1);;
            }

    #radar .speed_arrows_container {
        display: grid;
        grid-template-rows: 50% 50%;
    }
        #radar .speed_arrows_container .speed_arrows {
            display: flex;
            flex-direction: column;
        }